@import "../variables.scss";

.search-input{
    width: 200px;
    background-color:transparent;
    border: unset;
    color: $dark-grey;
    outline:unset;
    border-radius: 3px;
    font-weight: 550;
    height: 30px;
    padding-left: 30px;
  
    &::placeholder{
      color: $dark-grey;
    }
  }