@import "../variables.scss";

.card-wrapper{
    display: flex;
    min-height: 160px;
    background-color: $white;
    border-bottom: 1px solid $border-color;
    padding: 8px 8px 8px 20px;
    .card-left{
        display: flex;
        width: 140px;
    }
    .card-right{
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-left: 20px;
        align-self: center;

        .card-header{
            font-size: 30px;
            font-weight: bold;
            text-align: start;
            margin-bottom: 10px;
        }

        .card-info{
            text-align: start;
            margin-left: 20px;
        }
    }
}